# Makefile configuration for the sinope operating system
# vim:filetype=make
ROOTDIR:=$(dir $(lastword $(MAKEFILE_LIST)))
ARCH:=i386
TARGET:=i686-elf
BUILDDIR:=$(ROOTDIR)/build
SYSROOTDIR:=$(BUILDDIR)/sysroot
KERNEL_FILE:=sinope

# cross compiler toolchain
AR:=$(TARGET)-ar
AS:=$(TARGET)-as
CC:=$(TARGET)-gcc

# default compiler flags
CFLAGS:=-O2 -g

# default filesystem layout
PREFIX:=/usr
EXEC_PREFIX:=$(PREFIX)
BOOTDIR:=/boot
LIBDIR:=$(EXEC_PREFIX)/lib
INCLUDEDIR:=$(PREFIX)/include

# misc options
ISOFILE:=$(ROOTDIR)/sinope.iso
QEMU:=qemu-system-$(ARCH)
